name: 02 Workflow Events
on:
    push:
        branches:
            - main
    pull_request:
    workflow_dispatch:
    schedule:
        - cron: '0 0 * * 5'

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
        - name: Show the trigger
          run: echo "The event that triggered this workflow is ${{ github.event_name }}"
